@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Mono:ital@0;1&display=swap');

:root {
    --banco: white;
    --cor-de-fundo: #00162E;
    --fundo-senha: #00244d;
    --fundo-texto: #0075ff;
    --borda: #0075ff;
    --roboto: 'Roboto', sans-serif;
    --roboto-mono: 'Roboto Mono', sans-serif;
}

body {
    color: var(--banco);
    background-color: var(--cor-de-fundo);
    font-family: var(--roboto);
}

.titulo-principal{
    font-family: var(--roboto-mono);
    font-size: 32px;
}

.titulo-secundario{
    font-size: 24px;
}